{% extends "base.html" %}

{% block title %}Hapus Barang Tertinggal{% endblock %}

{% block content %}
{% url 'barang_tertinggal:list' as cancel_url %}
{% include "components/confirmation.html" with eyebrow="Barang Tertinggal" title="Hapus Barang Tertinggal" description="Konfirmasi penghapusan data barang mahasiswa tertinggal." message_prefix="Yakin ingin menghapus barang tertinggal" target_label=barang.kode_barang_tertinggal second_prefix="-" second_label=barang.nama_barang cancel_url=cancel_url %}
{% endblock %}
